main {
    width: 1000px;
}

@media screen and (max-width: 768px) {
    main {
        width: 300px;
    }
}

.adminShopContents {
    width: 800px;
    margin: 100px auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #6E85B7;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .adminShopContents {
        width: 100%;
        margin: 50px auto;
    }
}

.adminShopContents__title {
    font-weight: bold;
    color: #fff;
    padding: 10px 10px 10px 20px;
    text-align: left;
    letter-spacing: 1px;
}

.adminShopContents__content {
    background: #fff;
    padding: 30px 100px;
    border-radius: 0 0 3px 3px;
}

@media screen and (max-width: 768px) {
    .adminShopContents__content {
        background: #fff;
        padding: 20px;
        border-radius: 0 0 3px 3px;
    }
}

.form__item {
    display: flex;
    justify-content: space-between;
}

.form__item label {
    color: black;
}

.form__item input {
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px black solid;
    margin-bottom: 20px;
}

.form__item select {
    margin-bottom: 10px;
    font-size: normal;
}

.form__item textarea {
    width: 600px;
    margin-top: 10px;
}

.form__submit {
    display: flex;
    justify-content: right;
}

.form__submit button {
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 5px 15px;
    background: #6E85B7;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    letter-spacing: 1px;
    cursor: pointer;
}

.adminShopContents__content {
    text-align: left;
}

.adminShopContents__content--csv-wrapper{
    border: #6E85B7 solid 1px;
    border-radius: 3px;
    padding: 0 10px 20px;
    margin: 20px 0;
}

#adminShopContents__content--csv{
    margin: 0 !important;
}

h2{
    font-size: 20px;
}

.adminShopContents__content--csv-input{
    margin-bottom: 10px;
}
