/* 変更を加えたらthanks.cssも変更する */

main {
    width: 1000px;
}

.all-shops__container {
    margin: 0 auto;
}

.all-shops {
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.all-shops__card {
    text-align: left;
    width: 23%;
    margin: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.shop-name {
    font-size: large;
}

.all-shops__card--img img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.all-shops__card--content {
    padding: 15px 25px;
}

.all-shops__card--tag {
    display: flex;
    justify-content: left;
    font-weight: normal;
}

.shop-area {
    padding-right: 10px;
}

.all-shops__card--footer {
    display: flex;
    justify-content: space-between;
}

.detail-button a {
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 5px 15px;
    background: #6E85B7;
    display: inline-block;
    /* 要素の文字数に応じて幅が変更されるためにinline-blockを指定 */
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    letter-spacing: 1px;
}

.heart {
    margin-top: 10px;
    padding: 5px 15px;
}