main {
    width: 100%;
    padding: 50px;
}

@media screen and (max-width: 768px) {

    .shop {
    width: 100%;
}

.reserve {
    width: 100%;
    margin: 20px 0 10px 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #3F5FEC;
    border-radius: 3px;
    position: relative;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .shop {
        margin: 0 auto;
        width: 70%;
    }

    .reserve {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #3F5FEC;
    border-radius: 3px;
    position: relative;
    min-height: 450px;
}
}

@media screen and (min-width: 1025px) {

    .container__shop-reserve {
    display: flex;
    justify-content: space-between;
}

.shop {
    width: 50%;
    padding-right: 50px;
}

.reserve {
    width: 50%;
    margin: 20px 0 10px 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #3F5FEC;
    border-radius: 3px;
    position: relative;
    max-height: 500px;
}
}

@media screen and (max-width: 768px) {
    .shop {
        width: 80%;
        margin: 0 auto;
    }
}

.shop__name a {
    padding: 3px 8px;
    margin-right: 5px;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.shop__name {
    font-size: larger;
    font-weight: bold;
    margin: 20px 0 20px;
    text-align: left;
}

.shop__img img {
    width: 100%;
}

.shop__img {
    margin-bottom: 20px;
}

.shop__tag {
    display: flex;
    justify-content: left;
    font-weight: normal;
    letter-spacing: 1.5px;
}

.shop__tag--area {
    padding-right: 10px;
}

.shop__introduction {
    margin-top: 10px;
    text-align: left;
    letter-spacing: 1.5px;
}



@media screen and (max-width: 768px) {
    .reserve {
        width: 80%;
        margin: 50px auto 0;
    }
}

.reserve__title {
    font-weight: bold;
    color: #fff;
    padding: 20px 10px 0 20px;
    text-align: left;
    letter-spacing: 1px;
}

.form {
    padding: 20px;
}

.form__item {
    text-align: left;
}

.radioform__item {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radioform__item input {
    cursor: pointer;
}

.form__item--textarea textarea {
    text-align: left;
    border: none;
    outline: none;
    width: 90%;
    height: 150px;
    font-size: large;
    margin-top: 20px;
}

.form__item input,
.form__item select {
    border: none;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
    height: 30px;
    cursor: pointer;
}

.form__item input {
    width: 50%;
    font-weight: bolder;
}

.form__item select {
    width: 100%;
}

.reserve__confirm {
    font-weight: normal;
    margin: 10px 0 0px;
    padding: 20px;
    background-color: #5e7fee;
    border-radius: 3px;
    color: #fff;
}


@media screen and (max-width: 768px) {
    .reserve__confirm {
        margin: 10px 0 50px;
    }
}

.reserve__confirm th {
    font-weight: normal;
    padding: 0 20px 5px 0;
    text-align: left;
}

.reserve__confirm td {
    text-align: left;
    padding-bottom: 5px;
}

.form__submit button {
    border: none;
    outline: none;
    background: #183eeb;
    color: #fff;
    cursor: pointer;
}

.form__submit {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #183eeb;
    position: absolute;
    bottom: 0;
}

.shop__link--review{
    margin-top: 20px;
    text-align: left;
}

.shop__link--review a{
    text-decoration: underline;
}

.shop__review--wrapper{
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: #bfbfbf solid 1px;
}

.shop__review--title{
    margin-bottom: 20px;
    padding: 10px;
    background: #5e7fee;
    color: #fff;
}

.shop__review--header{
    border-top: #bfbfbf solid 1px;
    display: flex;
    justify-content: flex-end;
}

.shop__review--header button{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.shop__review--header button:not(:last-child) {
    margin-right: 10px;
}

.shop__review--star{
    text-align: left;
}

.shop__review--text{
    text-align: left;
}

.shop__review--image{
    text-align: left;
    margin: 10px 0;
}

.shop__review--image img{
    max-width: 150px;
    max-height: 150px;
}