main{
    width: 100%;
}

@media screen and (max-width: 768px) {

    .review{
    width: 100%;
}

    .review__left{
    margin: 30px auto 50px;
    padding: 30px 100px;
    text-align: center;
    border-right: 1px solid #c5c5c5;
    width: 100%;
    background-color: #eeeeee;
}

    .review__right{
    margin: 0 auto;
    padding: 0 80px;
    width: 100%;
    text-align: left;
}

.button-submit{
    margin: 50px auto;
    background-color: white;
    width: 80%;
    border-radius: 20px;
}

.review__left--shop-card {
    text-align: left;
    max-width: 70%;
    min-width: 65%;
    margin: 0 auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .review{
    width: 100%;
}

    .review__left{
    margin: 30px auto;
    padding: 30px 100px;
    text-align: center;
    border-right: 1px solid #c5c5c5;
    width: 100%;
    background-color: #eeeeee;
}

.review__right{
    margin: 0 auto;
    padding: 0 80px;
    width: 100%;
    text-align: left;
}

.button-submit{
    margin: 50px auto;
    background-color: white;
    width: 80%;
    border-radius: 20px;
}

.review__left--shop-card {
    text-align: left;
    max-width: 40%;
    min-width: 35%;
    margin: 0 auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
}

@media screen and (min-width: 1025px) {

    .review{
    width: 100%;
    display: flex;
    }

    .review__left{
    margin: 30px auto;
    padding: 0 100px;
    text-align: center;
    border-right: 1px solid #c5c5c5;
    width: 40%;
}

.review__right{
    margin: 0 auto;
    padding: 0 80px;
    width: 60%;
    text-align: left;
}

.button-submit{
    margin: 20px auto;
    background-color: white;
    width: 30%;
    border-radius: 20px;
}

.review__left--shop-card {
    text-align: left;
    min-width: 80%;
    max-width: 85%;
    margin: 30px auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
}


.review__left--text{
    font-size: xx-large;
    margin: 20px 0;
}

.review__right--star-wrapper,
.review__right--input-review-wrapper,
.review__right--add-img-wrapper
{
    margin-bottom: 20px;
}

.review__right--title{
    font-size: large;
    margin-bottom: 10px;
}

.review__right--textarea textarea{
    width: 100%;
    background-color: #eeeeee;
    resize: none;
    height: 100px;
    padding: 5px;
    border-radius: 2px;
}

.review__right--textarea div{
    text-align: right;
    font-size: smaller;
    margin-top: -5px;
}

.review__right--add-img{
background-color: white;
text-align: center;
margin: 0 auto;
padding: 30px 0;
border-radius: 3px;
}

#fileInput {
        display: none; 
    }

.review__right--add-img p{
    margin: 0;
    cursor: pointer;
}

.review__right--add-img p:first-child {
    font-size: 16px;
}

.review__right--add-img p:last-child {
    font-size: 12px;
}

.button-submit button{
    border: none;
    background-color: white;
    padding: 10px 80px;
    cursor: pointer;
    font-weight: bold;
}

.card__content--shop-name {
    font-size: large;
}

.card__img img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.card__content {
    padding: 15px;
    background-color: white;
}

.card__content--tag {
    display: flex;
    justify-content: left;
    font-weight: normal;
}

.card__content--tag div:first-child {
    padding-right: 10px;
}

.card__content--footer {
    display: flex;
    justify-content: space-between;   
    align-items: flex-end;
}

.footer__button a {
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 5px 15px;
    background: #3f5fec;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    letter-spacing: 1px;
}

.footer__like {
    padding: 5px;

}

.footer__like button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

form {
    margin: 0;
    padding: 0;
}

#previewArea img {
        max-width: 200px;
        max-height: 200px;
        display: block;
        margin: 10px auto 0;
    }

#fileInput{
    border: none;
<<<<<<< HEAD
}

#previewArea p{
    margin: 20px 0;
    font-size: 16px;
=======
>>>>>>> parent of a5ff6e7 (Fixed untracked files issue)
}